name: Deploy to VPS

on:
  push:
    branches:
      - main   # якщо у тебе інша гілка (master), поміняй тут

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          port: 22
          script: |
            cd ~/cloud-labs
            git fetch origin
            git reset --hard origin/main
            sudo docker compose pull
            sudo docker compose up -d --build
            sudo docker image prune -f
